.info-div {
    margin: 15px;
    font-size: 15px;
    font-weight: bold;
}

form {
    margin-top: 100px;
    margin-left: 175px;
    margin-right: 175px;
}

.container-inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-btn {
    margin-top: 50px;
    margin-left: auto;
    margin-bottom: 40px;
    display: block;
}

table {
    margin: 0 auto;
    max-width: 76.5vw;
}

span {
    margin-right: 7.5vw;
}

.pagination-container {
    text-align: center;
    margin-top: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination-button {
    cursor: pointer;
    font-size: inherit;
    background-color: #f5f5f5;
    color: #333;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    padding: 4px 5px;
    margin-top: -4px;
    margin-right: 5px;
    margin-left: 0px;
}


.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.pagination-inner {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pagination-inner li {
    display: inline-block;
    margin-right: 5px;
}

.pagination-inner li a {
    padding: 5px 10px;
    text-decoration: none;
    background-color: #f5f5f5;
    color: #333;
    border-radius: 3px;
}

.pagination-inner li.active a {
    background-color: #1c9aee;
    color: #fff;
}

.previous-button,
.next-button {
  display: none;
}